<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhenmei.p7i.ninegrid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>


        <activity
            android:name=".round.preview.RoundImagePreviewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>


</manifest>
